Repository tripal/t4d8, pull requests merged in 2022-12, with the labels that each got.

#302 Fix for ChadoConnection::findVersion()
  tripal_chado/src/Database/ChadoConnection.php
  tripal_chado/tests/fixtures/fill_chado.sql
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/src/Functional/ChadoTestTrait.php
  tripal_chado/tests/src/Functional/Database/ChadoConnectionTest.php
  tripal_chado/tests/src/Functional/Forms/chadoInstallerFormTest.php
Labels: Bug, Group 2 - Chado/Storage

#304 Update sequence values for each table in chado prepare fixture file
  tripal/src/TripalDBX/TripalDbxConnection.php
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
Labels: Group 2 - Chado/Storage

#274 Chado Properties Field
  tripal/src/Controller/CVTermAutocompleteController.php
  tripal/src/Entity/TripalEntity.php
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/TripalField/TripalFormatterBase.php
  tripal/src/TripalField/TripalWidgetBase.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/StoragePropertyTypeBase.php
  tripal/src/TripalStorage/StoragePropertyValue.php
  tripal/src/TripalStorage/TripalEntityBase.php
  tripal/src/TripalVocabTerms/Interfaces/TripalVocabularyInterface.php
  tripal/tests/src/Functional/TripalTestBrowserBase.php
  tripal/tripal.routing.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoIntegerTypeFormatter.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoStringTypeFormatter.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoTextTypeFormatter.php
  tripal_chado/src/Plugin/Field/FieldFormatter/chado_linker__prop_formatter.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/chado_linker__prop.php
  tripal_chado/src/Plugin/Field/FieldType/obi__organism.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoIntegerTypeWidget.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStringTypeWidget.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoTextTypeWidget.php
  tripal_chado/src/Plugin/Field/FieldWidget/chado_linker__prop_widget.php
  tripal_chado/src/Plugin/Field/FieldWidget/obi__organism_widget.php
  tripal_chado/src/Plugin/TripalIdSpace/ChadoIdSpace.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
  tripal_chado/tests/src/Functional/Plugin/ChadoVocabTermsTest.php
  tripal_chado/tests/src/Functional/Plugin/TripalField_chado_linker__propTest.php
Labels: Group 1 - Entities|Bundles|Fields, Group 2 - Chado/Storage

#303 Type Field
  tripal/config/schema/tripal.schema.yml
  tripal/src/Entity/TripalEntity.php
  tripal/src/Plugin/Field/FieldType/TripalIntegerTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalStringTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalTextTypeItem.php
  tripal/src/TripalField/Interfaces/TripalFieldItemInterface.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/TripalStorage/TripalEntityBase.php
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal_chado.chado_term_mapping.core_mapping.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/schema__additional_type_formatter.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/chado_linker__prop.php
  tripal_chado/src/Plugin/Field/FieldType/obi__organism.php
  tripal_chado/src/Plugin/Field/FieldType/schema__additional_type.php
  tripal_chado/src/Plugin/Field/FieldWidget/schema__additional_type_widget.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/tests/src/Functional/Task/ChadoPreparerTest.php
Labels: Group 1 - Entities|Bundles|Fields, Group 2 - Chado/Storage
